*{
    margin: 0;
    padding: 0;
}

body {
  
    font-family: 'Poppins', sans-serif;
    height: 100%    ;
    width: 100%;
    overflow-x: hidden;

}

#page1, #page2, #page3 {
    height:100vh;
    width: 100vw;
    display: flex;
  
    align-items: center;
 
    

}

#page1 {


    background-color: rgb(0, 191, 255);
}

#page2 {
 
    background-color: #00aeee;
}

#page3 {
    
    background-color: #9494b3;
}






h1{
    font-size: 40vw;
    white-space: nowrap;
}